<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>
  </head>

  <body>
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">

    </div>

    <main>
      <section class="py-5 text-center bg-image">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-light">Casas Bonitas</h1>
            <p class="lead text-light">Con muy buenos precios</p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">

          <div class="row mb-4">
            <div class="col-md-12">
              <%= form_with(url: root_path, method: :get, local: true, class: 'row g-3') do %>
                <div class="col-md-4">
                  <%= label_tag :min_price, 'Precio mínimo' %>
                  <%= number_field_tag :min_price, params[:min_price], class: 'form-control' %>
                </div>
                <div class="col-md-4">
                  <%= label_tag :max_price, 'Precio máximo' %>
                  <%= number_field_tag :max_price, params[:max_price], class: 'form-control' %>
                </div>
                <div class="col-md-4">
                  <%= label_tag :bedrooms, 'Número de habitaciones' %>
                  <%= number_field_tag :bedrooms, params[:bedrooms], class: 'form-control' %>
                </div>
                <div class="col-md-4">
                  <%= label_tag :commune, 'Comuna' %>
                  <%= select_tag :commune, options_for_select(['','Arica', 'Camarones', 'Putre', 'General Lagos', 'Iquique', 'Alto Hospicio', 'Huara', 'Camiña', 'Colchane', 'Pica', 'Pozo Almonte', 'Tocopilla', 'María Elena', 'Calama', 'Ollague', 'San Pedro De Atacama', 'Antofagasta', 'Mejillones', 'Sierra Gorda', 'Taltal', 'Chañaral', 'Diego De Almagro', 'Copiapó', 'Caldera', 'Tierra Amarilla', 'Vallenar', 'Freirina', 'Huasco', 'Alto Del Carmen', 'La Serena', 'La Higuera', 'Coquimbo', 'Andacollo', 'Vicuña', 'Paiguano', 'Ovalle', 'Río Hurtado', 'Monte Patria', 'Combarbalá', 'Punitaqui', 'Illapel', 'Salamanca', 'Los Vilos', 'Canela', 'Valparaíso', 'Casablanca', 'Concon', 'Juan Fernández', 'Puchuncaví', 'Quilpué', 'Quintero', 'Villa Alemana', 'Viña Del Mar', 'Petorca', 'La Ligua', 'Cabildo', 'Papudo', 'Zapallar', 'Los Andes', 'San Esteban', 'Calle Larga', 'Rinconada', 'San Felipe', 'Catemu', 'Llay Llay', 'Panquehue', 'Putaendo', 'Santa María', 'Quillota', 'La Calera', 'Hijuelas', 'Limache', 'La Cruz', 'Nogales', 'Olmué', 'San Antonio', 'Algarrobo', 'Cartagena', 'El Quisco', 'El Tabo', 'Santo Domingo', 'Isla De Pascua', 'Rancagua', 'Codegua', 'Coinco', 'Coltauco', 'Doñihue', 'Graneros', 'Las Cabras', 'Mostazal', 'Machalí', 'Malloa', 'Olivar', 'Peumo', 'Pichidegua', 'Quinta De Tilcoco', 'Rengo', 'Requinoa', 'San Vicente', 'San Fernando', 'Chépica', 'Chimbarongo', 'Lolol', 'Nancagua', 'Palmilla', 'Peralillo', 'Placilla', 'Pumanque', 'Santa Cruz', 'Pichilemu', 'La Estrella', 'Litueche', 'Marchigue', 'Navidad', 'Paredones', 'Curicó', 'Teno', 'Romeral', 'Molina', 'Sagrada Familia', 'Hualañé', 'Licantén', 'Vichuquén', 'Rauco', 'Talca', 'Pelarco', 'Río Claro', 'San Clemente', 'Maule', 'San Rafael', 'Empedrado', 'Pencahue', 'Constitución', 'Curepto', 'Linares', 'Yerbas Buenas', 'Colbún', 'Longaví', 'Parral', 'Retiro', 'Villa Alegre', 'San Javier', 'Cauquenes', 'Pelluhue', 'Chanco', 'Chillán', 'Bulnes', 'Chillán Viejo', 'Cobquecura', 'Coelemu', 'Coihueco', 'El Carmen', 'Ninhue', 'Ñiquén', 'Pemuco', 'Pinto', 'Portezuelo', 'Quillón', 'Quirihue', 'Ranquil', 'San Carlos', 'San Fabián', 'San Ignacio', 'San Nicolás', 'Trehuaco', 'Yungay', 'Los Angeles', 'Alto Bio Bio', 'Antuco', 'Cabrero', 'Laja', 'Mulchén', 'Nacimiento', 'Negrete', 'Quilaco', 'Quilleco', 'Santa Bárbara', 'San Rosendo', 'Tucapel', 'Yumbel', 'Concepción', 'Chiguayante', 'Coronel', 'Florida', 'Hualpén', 'Hualqui', 'Lota', 'Penco', 'San Pedro De La Paz', 'Santa Juana', 'Talcahuano', 'Tomé', 'Arauco', 'Cañete', 'Contulmo', 'Curanilahue', 'Lebu', 'Los Alamos', 'Tirua', 'Angol', 'Collipulli', 'Curacautín', 'Ercilla', 'Lonquimay', 'Los Sauces', 'Lumaco', 'Purén', 'Reinaco', 'Traiguén', 'Victoria', 'Temuco', 'Carahue', 'Cholchol', 'Cunco', 'Curarrehue', 'Freire', 'Galvarino', 'Gorbea', 'Lautaro', 'Loncoche', 'Melipeuco', 'Nueva Imperial', 'Padre Las Casas', 'Perquenco', 'Pitrufquén', 'Pucón', 'Saavedra', 'Teodoro Schmidt', 'Toltén', 'Vilcún', 'Villarrica', 'Osorno', 'Puerto Octay', 'Purranque', 'Puyehue', 'Río Negro', 'San Juan De La Costa', 'San Pablo', 'Calbuco', 'Cochamó', 'Fresia', 'Frutillar', 'Los Muermos', 'Llanquihue', 'Maullín', 'Puerto Montt', 'Puerto Varas', 'Ancud', 'Castro', 'Curaco De Vélez', 'Chonchi', 'Dalcahue', 'Puqueldón', 'Queilén', 'Quellón', 'Quemchi', 'Quinchao', 'Chaitén', 'Futaleufú', 'Hualaihué', 'Palena', 'Cochrane', 'OHiggins', 'Tortel', 'Aysén', 'Cisnes', 'Guaitecas', 'Coyhaique', 'Lago Verde', 'Chile Chico', 'Río Ibañez', 'Natales', 'Torres Del Paine', 'Punta Arenas', 'Río Verde', 'Laguna Blanca', 'San Gregorio', 'Porvenir', 'Primavera', 'Timaukel', 'Cabo de Hornos', 'Antártica', 'Cerrillos', 'Cerro Navia', 'Conchalí', 'El Bosque', 'Estación Central', 'Huechuraba', 'Independencia', 'La Cisterna', 'La Florida', 'La Granja', 'La Pintana', 'La Reina', 'Las Condes', 'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Macul', 'Maipú', 'Ñuñoa', 'Pedro Aguirre Cerda', 'Peñalolén', 'Providencia', 'Pudahuel', 'Quilicura', 'Quinta Normal', 'Recoleta', 'Renca', 'San Joaquín', 'San Miguel', 'San Ramón', 'Santiago', 'Vitacura', 'Puente Alto', 'Pirque', 'San José De Maipo', 'Melipilla', 'María Pinto', 'Curacaví', 'Alhué', 'San Pedro', 'Talagante', 'El Monte', 'Isla De Maipo', 'Padre Hurtado', 'Peñaflor', 'Buin', 'Calera De Tango', 'Paine', 'San Bernardo', 'Colina', 'Lampa', 'Til Til', 'Valdivia', 'Corral', 'Lanco', 'Los Lagos', 'Mafil', 'Mariquina', 'Paillaco', 'Panguipulli', 'La Union', 'Futrono', 'Lago Ranco', 'Río Bueno'], params[:commune]), class: 'form-control' %>
                </div>
                <div class="col-md-4 align-self-end">
                  <%= submit_tag 'Buscar', class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% @properties.each do |property| %>
              <div class="col">
                <div class="card shadow-sm">
                  <% if property.photos.attached? %>
                    <%= image_tag property.photos.first.variant(resize_to_limit: [300, 200]), class: "card-img-top" %>
                  <% else %>
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                      <title><%= property.address %></title>
                      <rect width="100%" height="100%" fill="#55595c"/>
                      <text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= property.address %></text>
                    </svg>
                  <% end %>

                  <div class="card-body">
                    <ul>
                      <li>Precio: <%= number_to_currency(property.price, unit: property.currency == "CLP" ? "CLP " : "USD ", separator: ",", delimiter: ".") %> <%= property.currency %></li>
                      <li>Área: <%= property.area %> m²</li>
                      <li>Habitaciones: <%= property.bedrooms %></li>
                      <li>Baños: <%= property.bathrooms %></li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <%= link_to 'View', property_path(property), class: 'btn btn-sm btn-outline-secondary' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <%= paginate @properties %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
